<p>&nbsp;Show:
   <span class="filter"> 
		<%= link_to_unless(session[:seen] == 'false', 'unseen', params.merge({'seen' => 'false'})) %>
   </span>
   <span class="filter">
		<%= link_to_unless(session[:seen] == 'true', 'seen', params.merge({'seen' => 'true'})) %> 
   </span>
   <span class="filter">
		<%= link_to_unless(%w(seen unseen).include?(session[:seen]), 'all', params.merge({'seen' => 'all'})) %> 
   </span>
	<span class="space">Marked by: 
	</span>
	<span class="filter">
		<%= link_to_unless(session[:marked_by] == 'all', 'all',  params.merge({'marked_by' => 'all'})) %> 
	</span>
<% if logged_in? %>
	<span class="filter">
		<%= link_to_unless(session[:marked_by] == current_user.login, 'you', params.merge({'marked_by' => current_user})) %> 
	</span>
<% end %>
</p>
<% if not %w(all you).include?(session[:marked_by])  %>
     <%= display_name(session[:marked_by]).titleize.pluralize %> Tubemarks
<% end %>