<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Videos: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id ="doobylaka">
	<%= link_to (image_tag '/images/beta.png', {:border => 0}), videos_path %>
		<% if logged_in? %>
			<%=link_to  current_user.login, user_videos_path(current_user) %> | <%= link_to 'youtube.com', 'http://www.youtube.com/' %> | <%= link_to 'Logout', logout_path %>
		<% else %>
		    <%= link_to 'Sign Up', signup_path %> | <%= link_to 'Login', login_path %>
		<% end %>
</div>
<div id="bookmark">
  <p>Drag this bookmark to your toolbar and use it to mark videos.<br/>
	<%= link_to (image_tag '/images/add_tubemark.png',  {:border => 0}), bookmarklet() %>
  </p>
</div>
<div id ="header">
	<%= link_to (image_tag '/images/tubemarks_logo.png', {:border => 0}), videos_path %>
	<%= render :partial => 'marks/new_mark_form', :object => 'video' %>
</div>
<div id = "flash_notice" onmousemove="new Effect.Fade(this, {duration: 2})" style="display: <%= flash[:notice] ? 'block' : 'none' %>">
	  <%= flash[:notice] %>
</div>
<div id="wrapper">
	<div id="viewport">
		<%= yield :viewport %>
	</div>
	<%= yield  %>
</div>
</body>
</html>